[Unit]
Description=Volumio Display Daemon
DefaultDependencies=no
After=syslog.target volumio.service mpd.service
# wireless.service volumiossh.service network.target

[Service]
User=volumio
Group=volumio
#Type=simple
WorkingDirectory=/data/plugins/user_interface/tft24-display
ExecStart=/usr/bin/python /data/plugins/user_interface/tft24-display/service/tft24-display.py
Restart=on-failure
RestartSec=10
SyslogIdentifier=VolumioTftDisplay
StandardOutput=syslog
StandardError=syslog
# Maps termination to Keyboard interrupt
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target