[Unit]
Description=Volumio Display Startup Message Daemon
DefaultDependencies=no
After=sysinit.target
#After=dbus.service

[Service]
User=volumio
#Type=simple
WorkingDirectory=/home/volumio/tft24-display
ExecStart=/usr/bin/python /home/volumio/tft24-display/tft24-display-startup.py
Restart=on-failure
RestartSec=10
SyslogIdentifier=VolumioTftDisplay
StandardOutput=syslog
StandardError=syslog
#KillSignal=SIGINT    # Maps termination to Keyboard interrupt

[Install]
WantedBy=multi-user.target