[Unit]
Description=Volumio Display Startup Message Daemon
DefaultDependencies=no
After=syslog.target

[Service]
User=volumio
Group=volumio
#Type=simple
WorkingDirectory=/data/plugins/user_interface/tft24-display
ExecStart=/usr/bin/python /data/plugins/user_interface/tft24-display/service/tft24-display-startup.py
Restart=on-failure
RestartSec=10
SyslogIdentifier=VolumioTftDisplay
StandardOutput=syslog
StandardError=syslog
#KillSignal=SIGINT    # Maps termination to Keyboard interrupt

[Install]
WantedBy=multi-user.target